/**
 * @file
 * Subtheme specific CSS.
 */

body.path-frontpage
{
    background: url('../images/background-onlinekurslabor.jpg');
}
/*frontpage custom*/
body.path-frontpage  h2.node__title
{
    display: none;
}
body.path-frontpage #main
{
    max-width: 1170px;
}

/*
 * ABOUT-Page / Frontpage
 */
.layout--twocol-section--50-50 .layout__region--first
{
    padding-right: 1em;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a, .site-footer {
background:none !important;
}

div#main-wrapper
{
    padding-top:20px;
}




/**
Footer Menu horizontal
*/
nav#block-barrio-h5plabor-footer.menu--footer a.nav-link
{
    display: inline-block;
    padding: 1rem 1rem;
}
nav#block-barrio-h5plabor-footer.menu--footer a.nav-link::before
{
    display: none;
}

a.navbar-brand {
    margin-left: 4rem;
}


/*headline tables*/
table tr th, table tr th a, table tr th a:hover, table tr th a:focus {
    color: #343979;
    font-weight: normal;
}

